{{define "group-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head" .}}
    <head>
        {{template "css-group"}}
        {{template "css-list"}}
    </head>
    <body>
    {{template "svg-icons"}}
    {{template "nav" .Nav}}
    {{template "group" .}}
    <div class="footer-spacer"></div>
    {{template "footer" .Foot}}
    </body>
    </html>
{{end}}