{{define "items-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head"}}
    <head>
        {{template "css-list"}}
    </head>
    <body>
    {{template "svg-icons"}}
    {{template "nav" "list"}}
    {{template "list" .}}
    <div class="footer-spacer"></div>
    {{template "footer"}}
    </body>
    </html>
{{end}}