{{define "item-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head" .Head}}
    <head>
        {{template "css-item"}}
    </head>
    <body>
    {{template "script-iframe-size-receive-message"}}
    {{template "svg-icons"}}
    {{template "nav" .Nav}}
    {{template "item" .}}
    <div class="footer-spacer"></div>
    {{template "footer"}}
    </body>
    </html>
{{end}}