{{define "list-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head" .Head}}
    <head>
        {{template "css-list"}}
        {{template "app-css"}}
    </head>
    <body>
    {{template "svg-icons"}}
    {{template "nav" .Nav}}
    {{template "list" .}}
    <div class="footer-spacer"></div>
    {{template "footer"}}
    </body>
    </html>
{{end}}