{{define "nav"}}
    <nav>
        <a class="{{if eq . "list"}}{{`current`}}{{end}}" accesskey="l" href="/list"
           rel="prefetch prerender">{{template "svg-icon" "stack"}}<span class="title">All</span></a>
        <a class="{{if eq . "search"}}{{`current`}}{{end}}" accesskey="s" href="/search"
           rel="prefetch prerender">{{template "svg-icon" "search"}}<span class="title">Search</span></a>
    </nav>
{{end}}