{{define "nav"}}
    <nav>
        {{$icons := .Icons}}
        {{$hrefs := .Hrefs}}
        {{$current := .Current}}
        {{range .Items}}
            {{$href := index $hrefs .}}
            {{$icon := index $icons .}}
            <a class="{{if eq . $current}}{{`current`}}{{end}}" href="{{$href}}"
               rel="prefetch">{{template "svg-icon" $icon}}<span class="title">{{.}}</span></a>
        {{end}}
    </nav>
{{end}}