{{define "section-page"}}
    <!doctype html>
    <html lang="en" id="_top">
    {{template "head"}}
    <head>
        {{template "css-section"}}
    </head>
    <body id="{{.Section}}">
    {{template "svg-icons"}}
    {{template "script-iframe-post-message"}}
    <div id="{{.Section}}-content" class="iframe-content">
        {{.Content}}
    </div>
    </body>
    </html>
{{end}}